//-
   _style
   config


- var attributes = {};

div.swiper-container(class=_style.main)
  div(class=_style.swiperWrapper)
    ul(class=_style.chartList)
      each chartObj in config.chartList
        if chartObj.pause
          - attributes = {"data-pause": "true"};
        else
          - attributes = {};

        li(class=_style[chartObj.pos]
        data-delay=chartObj.delay)&attributes(attributes)
          div(class=_style.listContent
          style="width:" + chartObj.w + "; height:" + chartObj.h + ";")
            //- custom
            if chartObj.custom
              if chartObj.html
                | !{chartObj.html}

            else
              img(class=_style.fullImg,
              width="100%",
              height="100%",
              src=chartObj.img,
              alt="")

div(class=_style.footer,
style="height:" + config.footer.height + ";")
  img(class=_style.fullImg,
  width="100%",
  height="100%",
  src=config.footer.imgUrl)

