//-
   _style
   config





div.swiper-container(class=_style.main)
  div(class=_style.swiperWrapper)
    ul(class=_style.chartList)

      -
        var pauseAttributes = {};
        var mutedAttributes = {};
        var marginTopList = "";
        var marginToplistContent = "";


      each chartObj in config.chartList
        if chartObj.pause
          - pauseAttributes = {"data-pause": "true"};
        else
          - pauseAttributes = {};

        if chartObj.muted
          - mutedAttributes = {"data-muted": "true"};
        else
          - mutedAttributes = {};

        if chartObj.top
          -
            marginTopList = " margin-top: 0;";
            marginToplistContent = " margin-top: "+chartObj.top+";";
        else
          -
            marginTopList = "";
            marginToplistContent = "";


        li(class=_style[chartObj.pos],
        style=marginTopList,
        data-delay=chartObj.delay)&attributes(pauseAttributes)&attributes(mutedAttributes)
          div(class=_style.listContent
          style="width:" + chartObj.w + "; height:" + chartObj.h + ";" + marginToplistContent)
            //- custom
            if chartObj.custom
              if chartObj.html
                | !{chartObj.html}

            else
              img(class=_style.fullImg,
              width="100%",
              height="100%",
              src=chartObj.img,
              alt="")

if config.footer
  div(class=_style.footer,
  style="height:" + config.footer.height + ";")
    img(class=_style.fullImg,
    width="100%",
    height="100%",
    src=config.footer.img)

